[submodule "frontend"]
	path = frontend
	url = https://github.com/SENODROOM/PolyCode-Frontend.git
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/SENODROOM/PolyCode-Backend.git
	branch = main